@import "../../styles/variables.scss";

.register-small-width {
  width: 50%;
  min-width: 500px;
}

.register-wide-width {
  width: 80%;
  min-width: 900px;
}

.register-left-page {
  padding: 0 15px;
}

.field-title {
  font-weight: bold;
}

.register-right-page {
  border-top: 2px solid $egc-primary;
  padding: 0 15px;
  display: flex;

  .tournament-title {
    font-weight: bold;
  }

  > div {
    flex: 1;
  }

  h3 {
    text-align: center;
    text-decoration: underline;
  }

  .tournament-options {
    display: flex;
    justify-content: center;

    ul {
      list-style: none outside;
    }

    li {
      display: flex;
      justify-content: flex-end;
    }

    mat-checkbox {
      width: 100%;
    }
  }
}

.event-field {
  display: flex;
  justify-content: center;

  div {
    margin: 0 10px;
  }
}

.first-step {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    width: 150px;
    margin: 15px;
  }
}

.form {
  .search-player {
    width: 80%;
  }

  .form-content {
    display: flex;
    flex-direction: column;
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;

    button {
      margin-right: 15px;
    }
  }

  .form-line {
    display: flex;
    align-items: center;

    mat-form-field,
    .read-only-field {
      flex: 1;
      margin-right: 20px;
    }

    mat-radio-button {
      margin: 0 5px;
      * {
        margin: 0 5px;
      }
    }

    mat-form-field:last-child {
      margin-right: inherit;
    }

    .full-name {
      flex: 2;
    }

    .small-input {
      width: 5em;
    }
  }
}


