@import "../../styles/variables.scss";

.register-small-width {
  width: 50%;
  min-width: 500px;
}
.register-wide-width {
  width: 90%;
  min-width: 1100px;
}

.register-left-page {
  width: 70%;
  padding: 0 15px;
}

.register-right-page {
  width: 30%;
  border-left: 2px solid $egc-primary;
  padding: 0 15px;
  display: flex;
}

.first-step {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    width: 150px;
    margin: 15px;
  }
}
.form {
  .search-player {
    width: 80%;
  }

  .form-content {
    display: flex;
    flex-direction: row;
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
  }

  .form-line {
    display: flex;

    mat-form-field {
      flex: 1;
      margin-right: 20px;
    }

    mat-form-field:last-child {
      margin-right: inherit;
    }

    .full-name {
      flex: 2;
    }

    .small-input {
      width: 5em;
    }
  }
}


