@import "../../styles/variables.scss";

.form {
  margin: 0 auto;
  width: 250px;
  border: $egc-primary 2px solid;
  border-radius: 15px;
  padding: 15px;
  background: #fff8e1;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}
