@import "../../styles/variables.scss";

.login-width {
  width: 250px;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}
