@import './variables.scss';

.page-container {
  /*position: relative;*/
  /*min-height: 100vh;*/
}

.mat-form-field-outline {
    background: #fff;
    border-radius: 5px;
}

.form {
  margin: 0 auto;
  border: $egc-primary 2px solid;
  border-radius: 15px;
  padding: 15px;
  background: $egc-form-background;
}

.snack-bar-error {
  background: #f44336;
}

.snack-bar-info {
  background: $snack-bg-info;
}

