@import '~@angular/material/_theming';

$egc-primary: map_get($mat-deep-purple, 500);
$egc-color: map_get($mat-amber, 500);
$egc-form-background: map_get($mat-amber, 50);
$egc-row-high-light: map_get($mat-amber, 100);
$snack-bg-info: map_get($mat-deep-purple, 300);
$error-color: #f44336;
