<div class="form large-width">
  <h3>
    <div>Extract player list</div>
    <div>You have selected <span class="high-light">{{getNumberSelected()}}</span> element(s)</div>
  </h3>

  <!-- Header with predefined filter -->
  <div class="predefined-filter">
    <button mat-flat-button
            (click)="selection.clear()"
            color="accent">
      Clear selection
    </button>
    <button mat-flat-button
            (click)="selectAll()"
            color="accent">
      Select All players
    </button>
    <button mat-flat-button
            (click)="selectMain()"
            color="accent">
      Select for Main tournament
    </button>
    <button mat-flat-button
            (click)="selectWeekend()"
            color="accent">
      Select for WE tournament
    </button>
  </div>

  <div class="table-list">
    <div class="table-list-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <div>
        <button mat-raised-button
                (click)="extractCustom()"
                color="primary">
          Download
        </button>
      </div>
    </div>

    <div class="display-columns-selection">
      <span>Column to display : </span>
      <div *ngFor="let col of allColumns">
        <span>{{ col.displayName }}</span>
        <mat-checkbox
          [checked]="col.displayed"
          (change)="toggleShowState($event, col)"></mat-checkbox>
      </div>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 player-table" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="header-cell-button">
          <button mat-icon-button
                  color="accent"
                  (click)="selectAllVisible()">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
          <button mat-icon-button
                  color="accent"
                  (click)="unselectAllVisible()">
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container *ngFor="let colState of allColumns" [matColumnDef]="colState.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{getColumnName(colState.name)}}
        </th>
        <td mat-cell *matCellDef="let element"> {{element[colState.name]}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)"
          [ngClass]="{ 'row-high-light' : selection.isSelected(row)}"></tr>
    </table>
  </div>
</div>
