<h1 mat-dialog-title>Download options</h1>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Event type</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="eventChosen($event)">
            <mat-option *ngFor="let option of options.names" [value]="option">
                {{option}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-checkbox labelPosition="after"
    [(ngModel)]="exclude">Exclude already extracted players ?</mat-checkbox>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button color="primary" [mat-dialog-close]="undefined">Cancel</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="exitValues">Download</button>
</mat-dialog-actions>
